<div class="d-flex justify-content-center">
  <nav id="navbar-nav__main" class="navbar">
    <nav id="navbar-nav" class="nav">
      <div fxLayout="column" fxLayoutAlgin="center" fxLayoutGap="16px">
        <div>
          <a
            class="nav-link stroke"
            [class.active-link]="'about-me-section' === currentSelection"
            href="#about-me__header"
            >About Me</a
          >
        </div>
        <div>
          <a
            class="nav-link stroke"
            [class.active-link]="'career-section' === currentSelection"
            href="#about-me__career"
            >Career</a
          >
        </div>

        <mag-social-media-icons></mag-social-media-icons>
      </div>
    </nav>
  </nav>
</div>
