<div class="d-flex justify-content-center">
  <nav id="navbar-nav__main" class="navbar">
    <nav id="navbar-nav" class="nav flex-column">
      <a
        class="nav-link stroke"
        [class.active-link]="'about-me-section' === currentSelection"
        href="#about-me__header"
        >About Me</a
      >
      <a
        class="nav-link stroke"
        [class.active-link]="'career-section' === currentSelection"
        href="#about-me__career"
        >Career</a
      >
      <a
        class="nav-link stroke"
        [class.active-link]="'contact-section' === currentSelection"
        href="#contact"
        >Contact</a
      >
    </nav>
  </nav>
</div>
