#navbar__main {
  height: 100%;
  position: relative;
  overflow-y: scroll;
}

#about-me-section {
  height: 100vh;
}

#career-section {
  height: 95vh;
}

/* Less than lt-md */
@media only screen and (max-width: 959px) {
  #navbar__main {
    overflow-y: inherit;
  }
}
