#app-content__main {
}

#app-content__nav-bar {
  width: 100%;
}
#app-content__scroll-content {
  width: 100%;
}

#app-content__nav-bar * {
  width: 100%;
}

#nav-bar__pic {
}

#nav-bar__nameplate {
  height: 10%;
}

#nav-bar__nav-list {
}

/* Less than lt-md */
@media only screen and (min-width: 960px) {
  #app-content__main {
    height: 100vh;
  }
}
