#app-content__main {
  margin-left: 0;
  margin-right: 0;
}

#app-content__nav-bar {
  background-color: aquamarine;
  width: 100%;
}
#app-content__scroll-content {
  background-color: coral;
  width: 100%;
}

#app-content__nav-bar * {
  width: 100%;
}

#nav-bar__pic {
  height: 30%;
}

#nav-bar__nameplate {
  height: 10%;
  background-color: red;
}

#nav-bar__nav-list {
  height: 60%;
  background-color: gray;
}
