<div id="app-content__main" fxLayout fxLayout.lt-md="column">
  <div
    fxFlex="30%"
    fxLayout="column"
    fxHide.lt-md="true"
    id="app-content__nav-bar"
    class="col-3  p-4 align-items-center"
  >
    <mag-navbar-head-image id="nav-bar__pic"> </mag-navbar-head-image>
    <mag-navbar-nameplate id="nav-bar__nameplate"></mag-navbar-nameplate>
    <mag-navbar-nav id="nav-bar__nav-list"></mag-navbar-nav>
  </div>
  <mag-nav-bar-content
    fxFlex
    class="col p-4"
    fxFlexOrder.lt-md="0"
    id="app-content__scroll-content"
  ></mag-nav-bar-content>
</div>
