/* HSL */
$color1: hsla(224%, 6%, 50%, 1);
$color2: hsla(224%, 20%, 21%, 1);
$color3: hsla(35%, 24%, 85%, 1);
$color4: hsla(215%, 24%, 33%, 1);
$color5: hsla(212%, 44%, 71%, 1);

/* RGB */
$grey: rgba(121, 125, 136, 1);
$cobalt: rgba(43, 49, 65, 1);
$sand: rgba(225, 217, 206, 1);
$light-cobalt: rgba(63, 80, 103, 1);
$cornflower-blue: rgba(150, 180, 214, 1);
$moss: rgb(174, 211, 99);
