/* RGB */
$grey: rgba(121, 125, 136, 1);
$cobalt: rgba(43, 49, 65, 1);
$sand: rgba(225, 217, 206, 1);
$light-cobalt: rgba(63, 80, 103, 1);
$cornflower-blue: rgba(150, 180, 214, 1);
$moss: rgb(174, 211, 99);
$sp-background: #222222;
$sp-background-2: #7c7c7cd1;
$sp-white: rgba(221, 221, 221, 0);
$sp-red: #f05454;
