<div id="about-me__main" class="jumbotron">
  <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
    <div id="jumbotron-left__content" class="text-center" fxFlex="66">
      <h1 class="display-3">Hey! I'm Matt Green</h1>
      <h3>Code. Lift. Pinball. BENGIETS.</h3>
    </div>
    <div fxFlex="34" fxShow.lt-lg="true">
      <img class="img-fluid" alt="Me Stuffing My Fat Face" src="assets/images/About-Me-(Eating-Bengiets)-XL.jpg">
    </div>
    <div fxFlex="34" fxShow.lt-md="true" fxHide.gt-md="true">
      <img class="img-fluid" alt="Me Stuffing My Fat Face" src="assets/images/About-Me-(Eating-Bengiets)-L.jpg">
    </div>
  </div>
</div>