@import "main";

.main {
  height: 100%;
  position: relative;
  background-image: linear-gradient(
      to right bottom,
      rgba($grey, 0.8),
      rgba($cobalt, 0.8)
    ),
    url(/assets/images/Waterfall__16-9__desktop.jpg);
  @include respond(lt-xl) {
    background-image: linear-gradient(
        to right bottom,
        rgba($grey, 0.8),
        rgba($cobalt, 0.8)
      ),
      url(/assets/images/Waterfall__4-3__tablet.jpg);
  }
  @include respond(lt-md) {
    background-image: linear-gradient(
        to right bottom,
        rgba($grey, 0.8),
        rgba($cobalt, 0.8)
      ),
      url(/assets/images/Waterfall__1-1__mobile-mod.jpg);
  }

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  &-content {
    position: absolute;
    //background-color: rgba(175, 238, 238, 0.39);
    width: 40%;
    bottom: 20%;
    left: 5rem;
    padding: 5rem;

    @include respond(lt-lg) {
      width: 75%;
      padding: 2.5rem;
      left: 2.5rem;
      bottom: 0;
      top: 5%;
    }
    @include respond(lt-md) {
      left: 2.5rem;
    }
    @include respond(lt-sm) {
      width: 100%;
      padding: 2.5rem;
      bottom: 0;
      top: 0;
      left: 0;
      margin: 0 auto;
    }
  }

  &-footer {
    position: absolute;
    //background-color: rgba(175, 238, 238, 0.39);
    bottom: 1%;
    right: 5%;
font-size: 1.5rem;

    @include respond(gt-md){
        font-size: 2rem;
    }
              
    div {
      display: flex;
      justify-content: flex-end;
    }
    a {
      text-decoration: none;
      text-align: right;
    }
  }
}

.content {
  &-name {
    font-size: 12rem;

    @include respond(lt-lg) {
      font-size: 10rem;
    }
    @include respond(lt-md) {
      font-size: 8rem;
    }
    @include respond(lt-sm) {
      font-size: 7rem;
    }
  }

  &-title {
    @include sub-content;
  }
  &-email {
    @include sub-content;
    //font-size: 1.4rem;
    text-decoration: none;
    color: $moss;
  }
}

.social {
  padding-top: 1rem;
  a {
    padding-right: 2rem;
  }
}

.image {
  height: auto;
  width: 100%;
  max-width: 5rem;
}
