<div id="main" class="main">
  <div id="main-content" class="main-content">
    <div class="content flex">
      <h1 class="content-name">Matt <span class="moss">Green</span></h1>
      <h2 id="content-title" class="content-title">
        Software Developer
      </h2>
      <h2 id="content-email">
        <a class="content-email" href="mailto:someone@yoursite.com">verde.mateo.a@gmail.com</a>
      </h2>
    </div>
    <div class="social flex-r">
        <a href="https://github.com/TYMG">
          <img
            class="img-fluid image"
            alt="github-icon"
            src="assets/images/github-icon.png"
          />
        </a>
        <a href="https://www.linkedin.com/in/mattalangreen/">
          <img
            class="img-fluid image"
            alt="github-icon"
            src="assets/images/linkedin-icon.png"
          />
        </a>
      </div>
  </div>

  <div class="main-footer moss" id="main-footer">
    <p>
      Powered by Amazon Web Services.
    </p>
    <div >
      <a href="">
        Curious? Click Me! See How!
      </a>
    </div>
  </div>
</div>
