@import "main";

.main {
  height: 100%;
  position: relative;
  background-image: linear-gradient(
      to right bottom,
      rgba($grey, 0.8),
      rgba($cobalt, 0.8)
    ),
    url(Me_Waterfall.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  &-content {
    position: absolute;
    //background-color: rgba(175, 238, 238, 0.39);
    height: 50%;
    width: 40%;
    bottom: 15rem;
    left: 5rem;
    padding: 5rem;
  }

}

.content{

    &-name {
      font-size: 6.4rem;
      
      @include respond( big-desktop){
          font-size: 12rem;
      }
    }
    &-email {
      //font-size: 1.4rem;
      text-decoration: none;
     color: whitesmoke;
    }
}