@import "main";

.hiw {
  overflow-y: scroll;
  height: 100%;
  position: relative;
  padding: 5rem;
  background-image: linear-gradient(
      to right bottom,
      rgba($grey, 0.8),
      rgba($cobalt, 0.8)
    ),
    url(/assets/images/Waterfall__16-9__desktop.jpg);
  @include respond(lt-xl) {
    background-image: linear-gradient(
        to right bottom,
        rgba($grey, 0.8),
        rgba($cobalt, 0.8)
      ),
      url(/assets/images/Waterfall__4-3__tablet.jpg);
  }
  @include respond(lt-md) {
    background-image: linear-gradient(
        to right bottom,
        rgba($grey, 0.8),
        rgba($cobalt, 0.8)
      ),
      url(/assets/images/Waterfall__1-1__mobile-mod.jpg);
  }

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  &-container {
    /*     overflow-y: scroll;
        position: absolute; */
    /*      top:5%;
        left:5%; */
    margin: 0 auto;
    background-color: rgba($grey, 0.8);
    padding-bottom: 1rem;
    //height: 90%;
    width: 50%;
    color: whitesmoke;
    padding: 2rem 10rem;
    font-size: 1.5rem;

    .hiw-section {
      padding: 2rem 0;
      .sub-section {
        h3 {
            padding: .5rem 0;
        }
        p {
            padding: .25rem 0;
        }
      }
    }

    ul,
    ol {
      padding-top: 1rem;
      margin-left: 2rem;
    }
    h1 {
      font-size: 5rem;
      text-align: center;
    }

  }
}

.buildspec {
  width: 50%;
}
