<div id="side-panel" class="side-panel flex-c">
    <img src="assets/images/Profile-M.jpg" alt="" class="side-panel__picture">
    <div id="side-panel__picture"   class="side-panel__details" >
        <p class="deatils__name">Matt A. Green</p>
        <div class="details__social flex-r">
            <a href="https://github.com/TYMG">
              <img
                class="img-fluid image"
                alt="github-icon"
                src="assets/images/github-icon.png"
              />
            </a>
            <a href="https://www.linkedin.com/in/mattalangreen/">
              <img
                class="img-fluid image"
                alt="github-icon"
                src="assets/images/linkedin-icon.png"
              />
            </a>
          </div>
    </div>
</div>