<div
  id="home__main"
  class="d-flex full align-items-center justify-content-center"
>
  <div id="home__content-container" class="">
    <div fxLayout="column" class="align-self-center">
      <img
        id="home__image"
        class="rounded "
        alt="Me Running Thangs "
        src="assets/images/Ocean-Rect.png"
      />
      <div class="flex-fill">
        <p id="home__text">Matt Green. Software Developer</p>
      </div>
    </div>
    <!--  <div id="home__image"></div> -->
  </div>
</div>
