<div
  id="home__main"
  class="d-flex  align-items-center justify-content-center"
  fxLayout
  fxLayoutAlign="center center"
  ngClass.gt-sm="full"
>
  <div id="home__content-container">
    <div
      fxLayout="column"
      class="align-self-center p-3"
      fxLayoutAlign="center center"
    >
      <!-- <img
        fxShow
        fxHide.lt-md="true"
        class="rounded img-fluid home__image"
        sizes="(max-width: 2100px) 100vw, 2100px"
        srcset="
          assets/images/Ocean/Ocean-Landscape_ccpnqe_c_scale,w_1200.png 1200w,
          assets/images/Ocean/Ocean-Landscape_ccpnqe_c_scale,w_1251.png 1251w,
          assets/images/Ocean/Ocean-Landscape_ccpnqe_c_scale,w_1300.png 1300w,
          assets/images/Ocean/Ocean-Landscape_ccpnqe_c_scale,w_1347.png 1347w,
          assets/images/Ocean/Ocean-Landscape_ccpnqe_c_scale,w_1392.png 1392w,
          assets/images/Ocean/Ocean-Landscape_ccpnqe_c_scale,w_1440.png 1440w,
          assets/images/Ocean/Ocean-Landscape_ccpnqe_c_scale,w_1486.png 1486w,
          assets/images/Ocean/Ocean-Landscape_ccpnqe_c_scale,w_1529.png 1529w,
          assets/images/Ocean/Ocean-Landscape_ccpnqe_c_scale,w_1570.png 1570w,
          assets/images/Ocean/Ocean-Landscape_ccpnqe_c_scale,w_1612.png 1612w,
          assets/images/Ocean/Ocean-Landscape_ccpnqe_c_scale,w_1652.png 1652w,
          assets/images/Ocean/Ocean-Landscape_ccpnqe_c_scale,w_1694.png 1694w,
          assets/images/Ocean/Ocean-Landscape_ccpnqe_c_scale,w_1734.png 1734w,
          assets/images/Ocean/Ocean-Landscape_ccpnqe_c_scale,w_1776.png 1776w,
          assets/images/Ocean/Ocean-Landscape_ccpnqe_c_scale,w_1814.png 1814w,
          assets/images/Ocean/Ocean-Landscape_ccpnqe_c_scale,w_1851.png 1851w,
          assets/images/Ocean/Ocean-Landscape_ccpnqe_c_scale,w_1891.png 1891w,
          assets/images/Ocean/Ocean-Landscape_ccpnqe_c_scale,w_1931.png 1931w,
          assets/images/Ocean/Ocean-Landscape_ccpnqe_c_scale,w_1969.png 1969w,
          assets/images/Ocean/Ocean-Landscape_ccpnqe_c_scale,w_2005.png 2005w,
          assets/images/Ocean/Ocean-Landscape_ccpnqe_c_scale,w_2043.png 2043w,
          assets/images/Ocean/Ocean-Landscape_ccpnqe_c_scale,w_2083.png 2083w,
          assets/images/Ocean/Ocean-Landscape_ccpnqe_c_scale,w_2099.png 2099w,
          assets/images/Ocean/Ocean-Landscape_ccpnqe_c_scale,w_2100.png 2100w
        "
        src="assets/images/Ocean/Ocean-Landscape_ccpnqe_c_scale,w_2100.png"
        alt=""
      /> -->

      <img
        fxFlex
        fxShow.lt-md="false"
        fxShow="true"
        fxFlexAlign="center"
        fxShow
        fxHide.lt-sm="true"
        class="img-fluid 
          rounded img-fluid home__image"
        alt="Me Running Thangs "
        src="assets/images/Ocean-Landscape.png"
      />

      <img
        fxFlex
        fxShow.lt-sm="false"
        fxShow.gt-sm="false"
        fxFlexAlign="center"
        fxShow="true"
        class="rounded  home__image"
        sizes="(max-width: 991px) 100vw, 991px"
        srcset="
          assets/images/Ocean/Ocean-M_sycdbn_ar_1_1,c_fill,g_auto__c_scale,w_200.jpg 200w,
          assets/images/Ocean/Ocean-M_sycdbn_ar_1_1,c_fill,g_auto__c_scale,w_356.jpg 356w,
          assets/images/Ocean/Ocean-M_sycdbn_ar_1_1,c_fill,g_auto__c_scale,w_470.jpg 470w,
          assets/images/Ocean/Ocean-M_sycdbn_ar_1_1,c_fill,g_auto__c_scale,w_567.jpg 567w,
          assets/images/Ocean/Ocean-M_sycdbn_ar_1_1,c_fill,g_auto__c_scale,w_653.jpg 653w,
          assets/images/Ocean/Ocean-M_sycdbn_ar_1_1,c_fill,g_auto__c_scale,w_727.jpg 727w,
          assets/images/Ocean/Ocean-M_sycdbn_ar_1_1,c_fill,g_auto__c_scale,w_811.jpg 811w,
          assets/images/Ocean/Ocean-M_sycdbn_ar_1_1,c_fill,g_auto__c_scale,w_872.jpg 872w,
          assets/images/Ocean/Ocean-M_sycdbn_ar_1_1,c_fill,g_auto__c_scale,w_942.jpg 942w,
          assets/images/Ocean/Ocean-M_sycdbn_ar_1_1,c_fill,g_auto__c_scale,w_978.jpg 978w,
          assets/images/Ocean/Ocean-M_sycdbn_ar_1_1,c_fill,g_auto__c_scale,w_991.jpg 991w
        "
        src="assets/images/Ocean/Ocean-M_sycdbn_ar_1_1,c_fill,g_auto__c_scale,w_991.jpg"
        alt=""
      />

      <img
        fxShow
        fxFlex
        fxFlexAlign="center"
        fxShow.gt-xs="false"
        fxHide.gt-sm="true"
        class="rounded img-fluid home__image"
        alt="Me Running Thangs "
        src="assets/images/Ocean-Protrait.png"
      />

      <div
        fxLayout
        fxLayoutAlign="center center"
        fxLayoutGap="16px"
        fxLayoutGap.lt-md="0px"
        fxLayout.lt-md="column"
        fxLayout
        class="home__text"
      >
        <div ngClass.lt-sm="xs-home-text">
          Matt Green.
        </div>
        <div ngClass.lt-md="sm-home-text" ngClass.lt-sm="xs-home-text">
          Software Developer
        </div>
        <mag-social-media-icons
          fxShow
          fxHide.gt-xs="true"
        ></mag-social-media-icons>
      </div>
    </div>
    <!--  <div id="home__image"></div> -->
  </div>
</div>
