<div class="full black">
  <div class="centered">
    <h1 id="about-me__header">
      From Washington, DC. Software Developer at AAMC. AWS Certified
      <a
        href="https://www.certmetrics.com/amazon/public/badge.aspx?i=1&t=c&d=2018-06-28&ci=AWS00407505"
      >
        Solutions Architect
      </a>
      and
      <a
        href="https://www.certmetrics.com/amazon/public/badge.aspx?i=2&t=c&d=2019-03-29&ci=AWS00407505"
      >
        Developer
      </a>
      (Associate)
    </h1>
  </div>
</div>
