@import "./sass/main";

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

$enable-caret: false;

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}

.background-img {
  height: 100%;
  position: relative;
  background-image: linear-gradient(
      to right bottom,
      rgba($grey, 0.8),
      rgba($cobalt, 0.8)
    ),
    url(/assets/images/profile/Waterfall__16-9__desktop.jpg);
  @include respond(lt-xl) {
    background-image: linear-gradient(
        to right bottom,
        rgba($grey, 0.8),
        rgba($cobalt, 0.8)
      ),
      url(/assets/images/profile/Waterfall__4-3__tablet.jpg);
  }
  @include respond(lt-md) {
    background-image: linear-gradient(
        to right bottom,
        rgba($grey, 0.8),
        rgba($cobalt, 0.8)
      ),
      url(/assets/images/profile/Waterfall__1-1__mobile-mod.jpg);
  }

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.black {
  background-color: black;
}
.full {
  height: 100%;
  width: 100%;
}

.w-50 {
  width: 50%;
}
.w-75 {
  width: 75%;
}
.w-100 {
  width: 100%;
}

.height-10vh {
  height: 10vh;
}
.height-25vh {
  height: 25vh;
}
.height-50vh {
  height: 50vh;
}
.height-100vh {
  height: 100vh;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.std-cmp-height {
  height: 90vh;
}

.padding-5 {
  padding: 5%;
}
/**************************************************

Custom Styles

**************************************************/

mag-navbar {
  z-index: 1000;
}
.mat-icon.notranslate.material-icons.mat-icon-no-color {
  @include respond(lt-md) {
  }
}

/**************************************************

Overriding Bootstrap Styles

**************************************************/

.bg-pink {
  background-color: #f3969a !important;
}

.border-pink {
  border-color: #f3969a !important;
}

.stroke {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  color: #0c0b0b;
  -webkit-text-stroke: 1px #e5e5e5;
}

.roboto {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}

.stroke {
  color: #0c0b0b;
  -webkit-text-stroke: 1px #e5e5e5;
}

.white {
  color: white;
}

.mat-icon {
  margin-top: 5px;
}

.dropdown-toggle::after {
  display: none !important;
}

.btn-outline-primary {
  color: white !important;
  border-color: white !important;
}
.btn-outline-primary:hover,
.btn-outline-primary:active {
  background-color: $moss !important;
}

.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem $moss !important;
}

.btn-outline-primary {
  background-color: none !important;
}
div.show button.dropdown-toggle.btn.btn-outline-primary {
  background-color: $moss !important;
}

.dropdown-item:hover {
  background-color: $moss !important;
}

/**************************************************

Overriding Angular Material Styles

**************************************************/

/* mat-form-field.sp-input
  .mat-form-field-appearance-outline
  .mat-form-field-outline-thick
  .mat-form-field-outline-start,
mat-form-field.sp-input
  .mat-form-field-appearance-outline
  .mat-form-field-outline-thick
  .mat-form-field-outline-end,
mat-form-field.sp-input
  .mat-form-field-appearance-outline
  .mat-form-field-outline-thick
  .mat-form-field-outline-gap {
  border-width: 10px !important;
}

mat-form-field.mat-focused .mat-form-field-outline-thick:hover,
mat-form-field.mat-focused .mat-form-field-outline-start:hover,
mat-form-field.mat-focused .mat-form-field-outline-end:hover {
  border-width: 10px !important;
}

::deep.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  border-width: 10px !important;
}

.mat-form-field-appearance-outline.mat-focused.mat-form-field-outline-thick {
  color: green($color: #000000) !important;
} */
