/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}

.black {
  background-color: black;
}
.full {
  height: 100%;
  width: 100%;
}

div.std-cmp-height {
  height: 90vh;
}

.padding-5 {
  padding: 5%;
}

/*Overriding Bootstrap Styles*/
.bg-pink {
  background-color: #f3969a !important;
}

.border-pink {
  border-color: #f3969a !important;
}
