/**************************************************

SneakPeeker Colors

**************************************************/

$sp-background: #222222;
$sp-background-2: #7c7c7cd1;
$sp-white: rgba(221, 221, 221, 0);
$sp-red: #f05454;
